/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

s|ActionBar
{
	chromeColor: #888888;
	color: #dddddd;
	titleAlign: center;
	fontSize: 16;
}

s|ActionBar #titleDisplay
{
	color: #ffffff;
	fontSize: 16;
}

s|TabbedViewNavigator #tabBar
{
	chromeColor: #888888;
	color: #ffffff;
	fontSize: 16;
	titleAlign: center
}

s|View{
	backgroundColor: #b9b7b5;
}

s|Label{
	color: #95887a;
}